<header class="visible b-header b-header_centered_yes"> 
  <div class="b-header__inner">
    <h1 class="headline text-weight_300">도움말</h1>
   <!--   <form accept-charset="UTF-8" action="/help/search" class="js-searchHelpForm has-gap-top-dot5 text-align_center is_vaporable" data-type="json" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div> 
      <div class="ui-form-group ui-form-group--size_big">
      <input class="[ form-field form-field--theme_clean form-field--type_search ] col-10" id="query" name="query" placeholder="궁금하신 사항을 검색해보세요!" type="search" value="" />
       <input class="b-button b-button_size_l text-size_m" name="commit" type="submit" value="검색하기" /> 
      </div> 
</form> --> </div>
</header>



<div class="b-content b-content--clean">
  <div class="container">
    
  
<div class="b-main " id="" role="main">
  

    <ul class="b-text-list b-text-list_type_line">
        <li class="b-text-list__item">
  <h2 id="t1">
    기본
  </h2> 

    <h3 id="5"><a href="/help#5">텀블벅(tumblbug)이 뭡니까?</a></h3>
    <p><p>텀블벅은 영화, 음악, 미술, 출판, 건축, 사진, 디자인, 테크놀로지, 게임, 요리, 제조 등 창조적인 분야를 총 망라하는 크라우드 펀딩 플랫폼입니다. 우리는 크리에이터가 다양한 시도를 하는데 있어 필요한 자금의 대안적인 통로를 만들고, 크리에이터와 팬들을 연결하는 새로운 통로가 되고자 합니다. 그 비전을 실현할 수 있도록 우리의 모든 기술적 역량을 기울이고 있습니다.</p></p>

<p><p>사전적 의미를 찾자면, 텀블벅은 그냥 말똥구리(tumblebug)입니다. 중간에 e를 빼먹은 건 철자를 몰라서가 아니라 .com 도메인이 없어서 그랬습니다.</p>
</p>
    <h3 id="7"><a href="/help#7">여기에 프로젝트를 올리면 텀블벅이나 다른 사람들과 소유권을 나눠야하나요?</a></h3>
    <p><p>전혀요. 프로젝트 및 그 결과물에 대한 모든 권리는 온전히 크리에이터에게 있고, 저희는 마땅히 그래야만 한다고 생각하고 있습니다.</p></p>
    <h3 id="8"><a href="/help#8">제한 시간과 목표금액은 왜 있는 거죠?</a></h3>
    <p><p>이유는 다음과 같습니다.</p></p>

<p><p>첫째, 사람들은 제한된 시간과 공동의 목표가 있을 때 더 발 빠르게 행동합니다. 무한정 긴 시간과 기회가 주어진다면 사람들의 행동을 효과적으로 끌어낼 수 없겠죠.</p></p>

<p><p>둘째, 프로젝트를 믿고 밀어주는 사람들을 보호하기 위함입니다. 100만원이 필요한 음반 제작 프로젝트에 20만원 밖에 모이지 않았다면, 모인 금액으로 본래 목적을 달성하는 것이 쉽지 않겠지요. 사람들이 헛되이 돈을 지불하는 것을 방지하기 위해 결제는 진행되지 않습니다.</p></p>

<p><p>셋째, 크리에이터의 입장에서 이것은 뭔가 비용을 들이기 전에, 위험 부담 없이 아이디어를 테스트해볼 수 있는 좋은 방법입니다. 지역적, 물리적인 한계 없이 프로젝트에 반응하는 사람들을 먼저 만나볼 수 있으니까요.</p></p>
    <h3 id="9"><a href="/help#9">제가 좀 사정이 어려운데, 텀블벅을 통해 기부를 받아도 될까요?</a></h3>
    <p><p>죄송합니다만, 단순히 기부가 목적인 경우는 텀블벅 프로젝트로 적합하지 않습니다. 특정 조직의 존속을 위한 모금, 불우이웃을 위한 기금 행사 같은 경우도 마찬가지이지요. 이러한 기부가 가치있는 활동임에는 틀림없지만, 텀블벅 커뮤니티는 무언가를 만들어내는 '창작'에만 그 범위를 제한하고 있습니다. 다만, 펀딩을 통해 창출되는 잉여금이 기부로 연결되는 것은 문제 없습니다. 자세한 사항은 프로젝트 가이드라인을 참고해주세요.</p>
</p>
    <h3 id="10"><a href="/help#10">프로젝트 페이지는 어떻게 만드는 거죠?</a></h3>
    <p><p>두 가지 방법이 있습니다. 프로젝트를 공개한 적 있는 회원으로부터 초대장을 받아  곧바로 프로젝트 페이지를 만드는 방법. 다른 하나는 사이트 상단에 '프로젝트 만들기'에서 몇 가지 정보를 입력하고 초대장을 받는 방법입니다. 프로젝트를 개설하는 회원에겐 추가적으로 5장의 초대장을 보내드리고 있습니다. 프로젝트 페이지 생성과 관련해서는 본 FAQ의 '프로젝트 페이지 만들기' 섹션을 참고해주세요.</p>
</p>
    <h3 id="11"><a href="/help#11">공익적인 프로젝트도 아닌데, 텀블벅에 올리는 것이 괜찮을지 모르겠어요.</a></h3>
    <p><p>괜찮습니다. 텀블벅에 올라오는 대부분의 프로젝트들은 공익성과 큰 관련이 없습니다. 저희가 집중하는 키워드는 '창작'입니다.</p> </p>

<p><p>규모가 크건 작건, 진지하건 엉뚱하건, 전통적이건 실험적이건 다 상관 없습니다. 진지한 프로젝트도 좋지만, 텀블벅은 누군가에겐 속된 말로 잉여스러워 보일 수 있는 프로젝트를 대단히 환영합니다. (세상에 자기 돈 들이기는 어렵고, 투자받기엔 가당치 않아보였던 가치있는 시도들이 얼마나 많았습니까)</p></p>

<p><p>어찌되었거나 중요한 건 그런 시도를 위해 여러분은 크건 작건 비용을 치뤄야한다는 사실이며, 바로 그 고민의 지점에 텀블벅이 있다는 것입니다.</p>
</p>
    <h3 id="12"><a href="/help#12">프로젝트를 해볼까 하는데 사실 뭐 큰 돈이 필요한 건 아니에요. 괜찮나요?</a></h3>
    <p><p>네. 텀블벅은 돈 문제를 떠나서 프로젝트를 알리고, 프로젝트에 반응하는 사람들을 만나볼 수 있는 매우 효과적인 도구가 될 것입니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t2">
    프로젝트 밀어주기
  </h2> 

    <h3 id="13"><a href="/help#13">프로젝트를 '밀어준다'는 게 무슨말입니까?</a></h3>
    <p><p>재정적으로 지원하고 심적으로 지지한다는 말입니다.</p></p>
    <h3 id="15"><a href="/help#15"> 밀어주고 싶은 프로젝트가 하나 생겼습니다. </a></h3>
    <p><p>네. 프로젝트 페이지에 보이는 밀어주기 버튼을 누르시면 됩니다. 먼저 선물을 선택하시고 원하는 금액을 입력하신 다음, 이체를 예약할 지불 수단을 등록해주세요. 이미 등록 하셨다면 간단히 지불 수단을 확인하신 후 마무리하시면 됩니다.</p></p>
    <h3 id="16"><a href="/help#16">이체를 예약한다고요?</a></h3>
    <p><p>그렇습니다. 텀블벅에서는 밀어주기 즉시 결제가 진행되지 않습니다. 예약하신 금액은 밀어주는 프로젝트가 목표 금액을 달성했을 경우에만 해당 프로젝트의 마감일에 등록하신 지불수단에서 자동이체됩니다. 반대의 경우 이체는 진행되지 않습니다.</p>
</p>
    <h3 id="17"><a href="/help#17">그렇다면 좋아하는 프로젝트들을 한꺼번에 밀어줘도 당장 돈을 지불할 필요가 없다는 것이군요.</a></h3>
    <p><p>맞습니다. 예약한 금액은 각 프로젝트의 목표 금액 달성 여부에 따라 해당 프로젝트의 마감일에 자동으로 결제되거나 취소될 뿐입니다. 즉, 여러분은 5월에 마감되는 영화 프로젝트에 2만원을 밀어주고, 6월에 마감되는 게임 프로젝트에 3만원을 밀어주기 위해 즉석에서 5만원을 입금하거나 사이버캐쉬 같은 걸 구매하실 필요가 없습니다.</p>
</p>
    <h3 id="19"><a href="/help#19">프로젝트를 밀어줄 때 발생하는 수수료가 있나요?</a></h3>
    <p><p>없습니다. 설령 프로젝트가 실패한다해도 그저 예약된 모든 이체가 없던 일이 될 뿐입니다.</p>
</p>
    <h3 id="20"><a href="/help#20">제 예약 금액이 공개적으로 표시되는지요?</a></h3>
    <p><p> 공개적으로 표시되지 않습니다. 개별 금액에 대해서는 오직 해당 프로젝트의 진행자만 확인할 수 있습니다. </p>
</p>
    <h3 id="21"><a href="/help#21">제 이름을 익명으로 보여줄 수 있을까요?</a></h3>
    <p><p>원하신다면 닉네임을 쓰셔도 됩니다. </p></p>
    <h3 id="22"><a href="/help#22">꼭 재정적으로만 밀어줘야하나요? 저는 돈 말고 다른 도움을 줄 수 있는데요.</a></h3>
    <p><p>현재로서는 그렇습니다. 가능하다면 비물질적인 도움과 제안도 시스템에 녹아들 수 있는 방법을 고민해보겠습니다 다른 방면으로 크리에이터 분께 도움을 주시고 싶다면, 프로젝트 페이지에 보이는 '문의하기'로 대화를 시작해보세요. 문의하시는 내용은 크리에이터분의 메일로 전달됩니다.</p>
</p>
    <h3 id="23"><a href="/help#23">프로젝트를 밀어줄 경우, 프로젝트 진행자가 알 수 있는 제 개인정보는 무엇이 있나요? </a></h3>
    <p><p>프로젝트 진행자는 후원자분의 성함과 밀어주신 금액, 그리고 선택한 후원자 선물을 볼 수 있습니다. 밀어주실 때 입력하셨던 비상 연락처 또한 조회할 수 있습니다. 딱 여기까지 입니다. 각 프로젝트 진행자는 텀블벅이 제공하는 별도의 관리자 인터페이스를 통해 후원자들에게 이메일을 보내드리기 떄문에 진행자가 개인적으로 후원자의 이메일 주소를 알고 메일을 보내는 것이 아닙니다.</p></p>

<p><p>모집에 성공한 후 프로젝트가 성공적으로 마무리되어 약속한 후원자 선물을 이행하게 되면, 프로젝트 진행자는 후원자들에게 몇 가지 필요한 정보(주소, 사이즈, 색상 등)를 입력 받을 수 있도록 다시 한번 별도의 폼을 전송할 것입니다.</p>
</p>
    <h3 id="24"><a href="/help#24">제가 밀어주는 프로젝트가 최종적으로 목표금액 달성에 성공하면 어떻게 알 수 있나요? </a></h3>
    <p><p>프로젝트의 모집 기한이 마감되면 결과에 관계없이 텀블벅에서 해당 후원자분들께 메일을 전송해드릴 것입니다. 물론 텀블벅에 접속하셔서 상단의 알림 메세지를 직접 확인할 수도 있습니다.</p></p>
    <h3 id="25"><a href="/help#25">한 프로젝트를 여러번 중복으로 밀어주는 것도 가능한가요?</a></h3>
    <p><p> 불가능합니다. 한 프로젝트에는 계정 당 한번만 밀어주기가 가능합니다. 대신 추가적으로 좀 더 많은 금액을 후원하고 싶을 경우 프로젝트 페이지의 '예약 변경/취소하기'를 통해 간단히 예약 금액을 변경하실 수 있습니다.</p></p>

<p><p> 만약 동일한 후원자 선물을 여러개 원하실 경우, 이를테면 같은 음반 2개를 원하시거나 같은 티켓 2장이 필요하신 경우, 프로젝트 진행자에게 직접 문의하실 수 있습니다.</p>
</p>
    <h3 id="26"><a href="/help#26">후원을 취소하려면 어떻게 하지요?</a></h3>
    <p><p>해당 프로젝트 페이지에서 보이는 '후원사항 변경하기' 버튼을 통해 간단히 취소하실 수 있습니다. 또는 상단의 아바타를 클릭하면 나오는'나의 후원 현황'을 통해 후원사항을 변경하실 수 있습니다. 물론 아바타를 보시려면 로그인이 되어 있어야하고요.<p></p>

<p><p>마감 전까지는 언제든 후원을 취소하실 수 있습니다. 하지만 마감 이후 이체가 시작되면, 약관이 규정하는 특수한 상황을 제외하고는 텀블벅을 통해서는 더 이상 후원을 취소하실 수 없습니다. 이체 이후 환불에 대한 부분은 프로젝트 진행자와 상의하실 수 있습니다.</p></p>
    <h3 id="29"><a href="/help#29">후원과 이체 현황을 일괄적으로 확인하고 싶어요.</a></h3>
    <p><p>로그인하시면 우측 최상단에 아바타가 보일 것입니다.  아바타를 클릭하여 '나의 후원 현황'에 접속하시면 모든 후원 사항과 결제 현황을 한 눈에 확인하실 수 있습니다.</p>
</p>
    <h3 id="30"><a href="/help#30">프로젝트 진행자가 진짜 그 사람이 맞는지 어떻게 알 수 있지요?</a></h3>
    <p><p>아마 대다수의 후원자들은 전부터 해당 프로젝트 진행자를 알던 사람들일 가능성이 크기 때문에 이에 대해 크게 의심하지 않을 것입니다.</p></p>

<p><p>만약 처음 보시는 분이라면 프로젝트 페이지에서 진행자가 직접 자신의 프로젝트를 설명하는 비디오를 확인하실 수도 있습니다. 얼굴을 보여주는 비디오를 속이는 일은 쉽지 않은 일이지요.</p></p>

<p><p>또한 프로젝트 진행자는 페이스북, 트위터, 포트폴리오 페이지등 자신과 연결할 수 있는 링크를 페이지에 걸어둘 것입니다. 궁금하시면 프로젝트 진행자의 프로필 카드에 있는 문의하기 버튼을 통해 직접 확인해볼 수도 있습니다. </p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t3">
    자동이체 등록
  </h2> 

    <h3 id="31"><a href="/help#31">체크카드도 가능한가요?</a></h3>
    <p><p>물론입니다. 여러분은 국내 주요 신용카드 및 체크카드로 텀블벅의 프로젝트를 밀어주실 수 있습니다. 단, 법인공용카드는 사용이 불가능합니다.</p></p>
    <h3 id="32"><a href="/help#32">결제 문자에 '정기과금'이라고 떴어요. 매월 정기 이체되는 건가요?</a></h3>
    <p><p>그렇지 않습니다. 결제는 프로젝트가 펀딩에 성공할 경우 단 1회에 한해 진행됩니다.</p></p>

<p><p>(결제 수단이 은행계좌인 경우) 이것은 현재의 비정기 조건부 결제를 구현하는데에 있어 국내에서 차용할 수 있는 몇 안되는 방식이 아이러니하게도 '정기과금'이기에 발생하는 문제입니다. 그러나 다시한번 강조하지만, 결제는 정기적으로 진행되지 않습니다.</p></p>

<p><p>차후 이런 착오를 드리지 않도록 결제 파트너사와 협력을 강화해가도록 하겠습니다.</p>
</p>
    <h3 id="33"><a href="/help#33">텀블벅에서 제 카드 정보를 저장하시는 건가요</a></h3>
    <p><p>그렇지 않습니다. <br />
<br />텀블벅은 회원님의 지불 정보를 안전하게 처리하기 위해 각별한 노력을 기울이고 있습니다. 결제 카드에 관한 정보는 각 결제 파트너사들이 담당하고 있으며, 텀블벅은 결제 파트너사가 발행하는 암호화된 토큰을 통해 결제를 처리합니다. 토큰에는 결제 정보가 담겨있지 않으며, 각 과정에 업계 표준인 SSL과 PKI 암호화 과정을 적용하여(RSA 2048bit) 중간에 악의적으로 정보를 가로채도 볼 수 없도록 되어 있습니다.
<br /></p></p>
    <h3 id="34"><a href="/help#34">밀어주는 프로젝트의 마감일이 되기 전에 제 결제 정보를 변경하고 싶으면 어떻게 하죠?</a></h3>
    <p><p>모집이 마감되기 전까진 언제든 ‘예약 변경/취소하기 - 자동이체 변경’ 버튼을 누르거나 ‘내 정보 수정 - 자동이체 설정'을 통해 지불 정보를 간단히 변경할 수 있습니다. 단, 모집이 마감되면 더 이상의 취소나 수정은 불가능합니다.</p>
</p>
    <h3 id="35"><a href="/help#35">제가 밀어주는 프로젝트가 마감했는데, 바로 인출이 되지 않아요. 무슨 문제가 있는 건가요?</a></h3>
    <p><p>은행계좌의 경우, 프로젝트가 성공적으로 마감되면, 자동이체 등록 절차를 걸쳐 실제 출금까지는 마감 후 3일에서 길게는 5일이 소요됩니다. 이체와 관련하여 문제가 발생하면 텀블벅 측에서 연락을 드리니, 안심하시고 기다려서도 좋습니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t4">
    프로젝트 페이지 만들기
  </h2> 

    <h3 id="36"><a href="/help#36">프로젝트 페이지 생성은 무료입니까?</a></h3>
    <p><p>네. 무료입니다. 단, 초대장을 받아야만 생성이 가능합니다.</p>
</p>
    <h3 id="37"><a href="/help#37">초대장은 어떻게 받을 수 있나요?</a></h3>
    <p><p>초대장을 갖고 있는 회원들로부터 받을 수 있습니다. 텀블벅에 프로젝트 페이지를 공개한 회원들은 기본적으로 5장의 초대장을 받습니다.</p></p>

<p><p>초대장을 구하지 못할 경우 사이트 상단의 '프로젝트 만들기'를 통해 몇가지 정보를 작성해주시면 확인 후 초대장을 보내드리겠습니다.</p>
</p>
    <h3 id="38"><a href="/help#38">친구에게 초대장을 보내고 싶은데, 어떻게 하나요?</a></h3>
    <p><p>텀블벅 프로젝트를 공개한 적이 있는 분이라면 상단 메뉴의 프로필을 클릭할 때 오렌지색의 '프로젝트 초대' 메뉴가 표시됩니다. 괄호안의 숫자는 발송가능한 초대장의 수를 나타냅니다. 텍스트 상자에 받으실 분의 이메일을 입력하고 보내기를 누르면 곧바로 초대장이 발송됩니다. '메시지 입력'을 통해 초대장에 개인적인 내용을 첨부할 수도 있습니다. 초대장을 모두 사용한 경우 '프로젝트 초대'는 다시 메뉴에서 사라집니다.</p></p>
    <h3 id="39"><a href="/help#39">초대를 받았습니다. 이제 프로젝트 페이지를 작성하려면 어떻게 해야 하나요?</a></h3>
    <p>초대 메일을 받으셨다면, 메일에 첨부된 프로젝트 시작하기버튼을 통해 로그인 또는 가입 후 곧바로 프로젝트 페이지를 작성할 수 있습니다.
</p>
    <h3 id="40"><a href="/help#40">목표 금액과 모집 기한은 반드시 설정해야 하나요?</a></h3>
    <p><p>필수입니다. 프로젝트 페이지를 공개하려는 회원은 반드시 최소 7일 ~ 최대 60일 범위 내에서 프로젝트의 모집 기한을 설정하시고 목표 금액을 설정해야 합니다.</p></p>

<p><p>최종적으로 모집 기한이 마감되었을 때 결과는 다음 두 가지 경우로 나뉩니다.</p></p>

<p><p><strong>모집 성사</strong> - 사전에 설정한 목표 금액이 충당되었을 경우, 사람들로부터 약속된 모든 금액은 모집 마감과 함께 일괄 결제가 집행됩니다. 프로젝트 진행자는 영업시간 기준 14일 내로 모집 금액을 수령할 수 있으며 프로젝트를 성공적으로 완수하고 약속한 후원자 선물을 이행할 책임을 갖게 됩니다.</p></p>

<p><p><strong>모집 미달</strong> - 만약 목표 금액이 모이지 않았을 경우 경우 약속된 모든 금액의 결제는 간단히 취소됩니다.</p>
</p>
    <h3 id="41"><a href="/help#41">후원자 선물도 꼭 만들어야해요?</a></h3>
    <p><p>그렇습니다. 선물만 생각하면 머리가 하얘지는 분들은 본 FAQ의 '금액별 후원자 선물' 섹션을 참고해주세요.</p>
</p>
    <h3 id="42"><a href="/help#42">목표 금액을 변경할 수 있을까요?</a></h3>
    <p><p>일단 프로젝트를 공개하신 후에는 변경할 수 없습니다.</p>
</p>
    <h3 id="43"><a href="/help#43">기간은 변경할 수 있나요?</a></h3>
    <p><p>절대 못합니다.</p></p>
    <h3 id="44"><a href="/help#44">그럼 공개 후에 변경할 수 있는 것은 어떤 것들이 있지요?</a></h3>
    <p><p>변경할 수 있는 것은 아래와 같습니다. </p></p>

<p><ul>
<br /><li>프로젝트 스토리</li>
<br /><li>비디오와 커버 이미지</li>
<br /><li>후원자 선물(추가 가능. 아직 선택 받지 못한 것들은 수정도 가능)</li>
<br /><li>진행자 프로필</li>
<br /></ul></p>

<p><p> 변경할 수 없는 것은 아래와 같습니다 </p></p>

<p><ul>
<br /><li>목표금액</li>
<br /><li>마감일</li>
<br /><li>누군가 선택해버린 후원자 선물</li>
<br /></ul></p>
    <h3 id="45"><a href="/help#45">프로젝트 페이지를 만드려면 꼭 국내 계좌가 필요한가요?</a></h3>
    <p><p>
<br />그렇습니다. 국외에 거주할지라도 국내 계좌를 갖고 있다면 가능합니다. 펀딩에 성공한 분들은 입금 받으실 통장 사본과 신분증 사본, 연락 가능한 핸드폰 번호와 주소지 기재가 필수입니다. 자세한 사항은 문의사항을 이용해주세요.
<br /></p>
</p>
    <h3 id="46"><a href="/help#46">사람들이 제 아이디어를 훔치면 어떡합니까?</a></h3>
    <p><p>진행 중인 시도와 아이디어를 널리 알리고 커뮤니티의 참여 속에서 작업을 진행해가는 것은 텀블벅 커뮤니티의 기본 중의 기본입니다. 하지만 중요한 업데이트 사항은 후원자들에게만 공개할 수 있도록 '업데이트'에 '후원자 공개' 옵션을 두고 있습니다.</p></p>

<p><p>만약 비밀리에 프로젝트를 진행하신다거나, 절대로 아이디어를 다른 사람들과 공유하고 싶지 않다면 텀블벅은 적합한 플랫폼이 아닙니다.</p>
</p>
    <h3 id="49"><a href="/help#49">목표 금액을 설정하는 데에 제한이 있나요?</a></h3>
    <p><p>없습니다. 하지만 명심해야할 것은 스스로의 현실적인 도달점을 알아야 한다는 것입니다. 100%에 도달하지 못하면 한 푼도 결제되지 않는 텀블벅의 룰에선 터무니 없는 액수는 독이 될 뿐이니까요.</p></p>

<p><p>먼저, 잠재적 후원자가 될 주변의 인맥을 생각해보세요. 친구든, 가족이든, 팬이든. 여러분의 소셜 네트워크도요. 여러분이 생각하는 잠재적인 구매자, 후원자들이 목표 금액의 40~50% 정도 충당할 수 있을 것이라 예상된다면 어느정도 도전 해볼만한 금액이 도출된 것입니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t5">
    프로젝트 진행 및 관리하기
  </h2> 

    <h3 id="47"><a href="/help#47">마감되기도 전에 목표 금액을 넘어 버렸습니다!</a></h3>
    <p><p>상관 없습니다. 마감일이 되기 전까지는 계속해서 후원 받을 수 있습니다.</p>
</p>
    <h3 id="48"><a href="/help#48">목표액을 돌파했으니 펀딩을 끝내고 빨리 금액을 수령하고 싶은데요.</a></h3>
    <p><p>그러고 싶겠지만 참으셔야합니다. 수많은 후원자 분들을 생각해보세요. 만약 어떤 프로젝트가 목표 금액을 돌파했다고 곧바로 금액을 수령할 수 있다면, 예정된 날짜에 이체를 예상하고 있던 후원자들에게는 황당한 일이 될 것입니다. (누군가 5월 마감 프로젝트에 5만원, 6월 마감 프로젝트에 5만원을 각각 예약해놓았는데 갑자기 5월에 10만원이 모두 청구된다면 당황스러울테니까요.)</p></p>

<p><p>들뜬 마음을 가라앉히고 사전에 정한 기한까지는 차분히 기다려주세요. 물론 그 기간 동안 더 받게 되는 것에는 제한이 없습니다. :)</p></p>
    <h3 id="51"><a href="/help#51">약속한 대로 프로젝트를 완성하지 못할 것 같은데요. 어쩌면 좋죠?</a></h3>
    <p><p>근본적으로 프로젝트를 뒤집어야 할 문제가 생겼거나 후원자들에게 약속한 사항을 도저히 지키지 못하겠을 경우 프로젝트를 그만둘 수 밖에 없을 것입니다. 하지만 이런 식의 실패는 한 명의 크리에이터로서 회원님의 명성에 적잖이 타격을 입힐 것이며, 심한 경우 법적 문제로 번질 수 있습니다. </p></p>

<p><p>이에 대해 어떻게 현명하게 합의할 수 있을지는 회원님께서 결정하셔야 합니다. 정말 열심히 노력하셨다면 후원자들이 모두 납득할 수 있도록 양해를 구하고 대안적인 보상 계획을 마련하셔야 합니다.</p>
</p>
    <h3 id="52"><a href="/help#52">펀딩에 성공했는데 후원자 분의 지불 정보가 유효하지 않다면 어쩌죠?</a></h3>
    <p><p>지불정보는 사전에 유효성이 검증되므로 잘못된 지불정보로 결제되는 경우는 없습니다. 그럼에도 여타의 이유로 결제 불가능한 지불정보가 전송된 경우, 텀블벅의 시스템은 해당 회원의 이메일로 정보 수정 요청을 하며 로그인 시에도 상단의 메세지를 통해 수정 요청을 반복합니다.</p></p>

<p><p>만약 등록된 계좌에 잔액이 없는 경우, 시스템은 7일간 해당 회원의 계좌로 출금 요청을 반복할 것이며 운영진은 해당 회원에게 이틀 간격으로 이메일을 통해 입금을 요청할 것입니다. 만약 7일 동안 해당 회원이 적절한 조치를 취하지 않는다면 해당 회원은 후원자 리스트에서 비활성화 상태가 될 것이며, 선택한 후원자 선물을 받을 기회 또한 사라집니다.</p>
</p>
    <h3 id="53"><a href="/help#53">후원자 수와 후원자 선물을 선택한 인원 수가 일치하지 않는 경우가 있던데요?</a></h3>
    <p><p>프로젝트를 밀어준 분이 후원자 선물를 선택하지 않을 수도 있습니다. 선물을 받지 않고 후원만하는 옵션이 있기 때문이지요. 아울러 후원자분들은 예약한 금액보다 저렴한 금액별 후원자 선물을 선택할 수도 있습니다.</p>
</p>
    <h3 id="81"><a href="/help#81">프로젝트 '업데이트'가 무엇인가요?</a></h3>
    <p><p>업데이트는 각 프로젝트의 진행 소식을 포스팅할 수 있는 블로그입니다. 프로젝트 진행자들은 업데이트를 통해 후원자들에게 작업의 진행 과정을 알려줄 수 있습니다. 어떤 진행자는 하루에 열두번도 포스팅을 할수도 있겠고 어떤 진행자는 가끔 가다 한 번씩 할 수도 있겠지만, 어쨌든 지속적으로 후원자들에게 진행소식을 알려주는 것은 정말 중요합니다.</p>
</p>
    <h3 id="82"><a href="/help#82">어떤 글은 후원자들에게만 공개하고 싶은데요, 가능한가요?</a></h3>
    <p><p>물론입니다. 프로젝트 진행자는 업데이트에 포스팅할 때 공개설정을 변경할 수 있습니다. ‘후원자에게만 공개’로 설정하시면 해당 포스트는 후원자들만 볼 수 있게 됩니다.</p>
</p>
    <h3 id="83"><a href="/help#83">'업데이트'가 어떤 용도로 쓰일 수 있을까요?</a></h3>
    <p><p>기본적으로 프로젝트에 대한 추가적인 이야기를 계속 포스팅하며 후원자들과 의견을 나눌 수 있습니다. 또한 단순한 모금 캠페인으로 그칠 수 있는 과정을 사람들이 반응하는 스토리로 발전시킬 수 있는 공간이기도 합니다. 누군가는 진행 과정의 스토리에 매료되어 후원을 결심할 수도 있으니까요. 진행 중의 기쁨, 성취감, 분노, 어려움을 있는 그대로 기록하는 것 만으로도 매력적인 스토리가 윤곽을 잡아갈 것입니다.</p>
</p>
    <h3 id="84"><a href="/help#84"> 비디오, 이미지 등을 '업데이트'에 포스팅할 수 있나요?</a></h3>
    <p><p>물론입니다. 당연히 그래야지요. 비디오는 물론 이미지, 사운드 파일도 올릴 수 있습니다.</p>
</p>
    <h3 id="85"><a href="/help#85">프로젝트의 업데이트에 새 글이 포스팅되면 해당 후원자들이 어떻게 알 수 있지요?</a></h3>
    <p>진행 소식이 업데이트되면 후원자들에게 곧바로 이메일이 전송될 것입니다. 물론 후원자들이 로그인할 경우에도 소식함에서 곧바로 프로젝트의 업데이트 소식을 확인할 수 있습니다.
</p>
    <h3 id="98"><a href="/help#98">배송일은 제 마음대로 설정하면 되나요?</a></h3>
    <p><p>물론 진행자가 결정하는 부분입니다만, 이거 하나는 참고해 주세요.
<br />프로젝트 성공시, 마감일로부터 영업일 기준 25일 이후에 정산이 완료됩니다. 이때 최종 입금자 명단을 확인한 후, 배송을 진행하는 것이 여러모로 안전할 것입니다.</p> </p>
    <h3 id="99"><a href="/help#99">배송 주소나 색상, 사이즈 등 추가 정보를 수집하는 간편한 방법 없나요? </a></h3>
    <p><p>있고 말고요. '후원자 서베이 기능' 이라는 것을 활용하시면 됩니다. 프로젝트 성공시, 마감일 이후에 후원자 서베이 보내기 기능을 활용해 보세요.</p><p>후원자 수가 많을 수록 댓글이나 메일로 정보를 수집하다가는 나중에 쓰나미가 되어 돌아올지도 모릅니다.</p> <p>배송 주소 수집하는 방법은 선물 탭- 각각의 선물 카드에서 '배송을 위해 후원자 주소를 수집합니다.' 옆에 있는 작은 네모박스를 체크하시면 됩니다. </p></p>
    <h3 id="100"><a href="/help#100">제가 올린 프로젝트를 삭제할 수 있나요?</a></h3>
    <p><p>보다 투명한 커뮤니티 운영을 위해, 마감된 프로젝트 페이지는 펀딩의 성공/실패/중지 여부와 상관 없이 진행자가 임의로 삭제하실 수 없습니다. 수정 또한 불가능합니다.</p></p>

<p><p>프로젝트에 대한 소개는 후원자가 믿고 후원할 수 있는 가장 기본적이고도 중요한 자료입니다. 텀블벅의 투명성을 위해 신중하게 프로젝트를 런칭해 주세요.</p></p>
    <h3 id="101"><a href="/help#101">업데이트를 올렸는데 수정하고 싶어요.</a></h3>
    <p><p>한번 올린 업데이트 내용은 수정이나 삭제가 불가능합니다. 후원자가 알고 있었던 업데이트 내용이 후원자의 동의없이 진행자 마음대로 수정되거나 삭제될 위험이 있기 때문입니다.</p></p>

<p><p>신뢰할 수 있는 커뮤니티를 위해 업데이트도 신중하게 작성해 주세요. 다만, 공개 설정 범위를 후원자 공개에서 전체 공개로 전환하는 것은 가능합니다.</p></p>

<p></p>

</li>

        <li class="b-text-list__item">
  <h2 id="t6">
    후원자 선물
  </h2> 

    <h3 id="54"><a href="/help#54">선물은 무엇인가요? </a></h3>
    <p><p>말 그대로 개별 후원에 대해 프로젝트 진행자가 제공하는 선물입니다. 모든 프로젝트 진행자들은 사전 후원자들의 기여도에 따라 돌려받을 수 있는 선물을 구성해두고 있습니다. 표면적으로는 후원에 대한 보답으로 그치는 것 같지만, 사실 진행자의 입장에서 이것은 프로젝트를 통해 만들어질 것의 최소한의 수요(사용자, 관객 등)를 확보할 수 있도록 마련된 기능이기도 합니다. </p></p>
    <h3 id="55"><a href="/help#55">최소 수요를 확보한다고요? 좀 더 자세히 설명해주세요.</a></h3>
    <p><p>조금 가벼운 비유를 하자면 텀블벅은 완성되지 않은 컨셉들과 프로토타입을 위한 시장이라고 볼 수도 있습니다. 여러분이 프로젝트를 통해 만들어질 독특한 무언가를 선물으로 약속한다면, 사실상 그것은 여러분 프로젝트의 최초 수요자를 확보하는 것이나 다름 없습니다. 생각해보면 이것은 대단히 중요한 부분입니다.</p></p>

<p><p>
<br />왜냐하면 전통적인 방식에선 제작과 유통이 별개의 문제이며, 대다수의 독립 예술가들이 비용을 감당하거나 지원금을 받아 가까스로 작업을 완성해놓고도 최소한의 수요를 확보하지 못해 뿌린만큼 거두지 못하는 경우가 대부분이기 때문입니다. 기꺼이 리스크를 감수하는 예술의 특성상, 어쩔 수 없는 것이라 하지만 이런 상황이 반복된다면 대다수의 예술가의 사정은 어려워질 수 밖에 없습니다. 만들어질 작품을 소비할 최초 수요를 확보한다는 관점에도 후원자 선물은 대단히 핵심적인 기능을 하고 있습니다.
<br /></p>
</p>
    <h3 id="56"><a href="/help#56">하지만 그렇게 듣자니 마치 장사를 하는 것 같군요.</a></h3>
    <p><p>중요한 포인트입니다. 재차 강조하지만 텀블벅은 단지 감정에 호소해 기금을 모집하는 플랫폼이 아니라 어느정도 시장 법칙에 호응하는 펀딩 플랫폼입니다. 다시 말해 리스크를 감당할만큼 충분한 수요와 공감대가 있어야 프로젝트를 실행한다는 것입니다. 특히 독립 영화, 출판, 공연처럼 응용예술과 이벤트 분야에서 이것은 매우 중요한 문제지요. 대부분의 사람들이 수요도 파악할 수 없는 불확실성과 싸우며 매번 리스크를 감당하고 있으니까요.</p></p>

<p><p>다만 모든 프로젝트에 시장성이 적용된다는 것은 아닙니다. 어디까지나 특성일 뿐 우리가 추구하는 부분도 아니고요.</p>
</p>
    <h3 id="57"><a href="/help#57">선물은 누가 만드나요?</a></h3>
    <p><p>프로젝트 진행자가 직접 약속하는 것입니다. 후원에 대한 개인적인 ‘감사 표현’이라는 기본에 충실하면서 프로젝트 진행자만이 줄 수 있는 직접적이고 독특한 선물을 제시할 수 있다면 매력적일 것입니다.</p>
</p>
    <h3 id="58"><a href="/help#58">선물으로 제시할 수 있는 것에는 무엇이 있나요?</a></h3>
    <p><p>기본은 역시 개인적인 감사의 표현입니다. 그것이 직접 쓴 감사 카드든 전화 통화든 이메일이든 진행자 스스로 창의적으로 적절한 방법을 고안할 수 있습니다. 기여도에 따라 만들어질 만화의 양장본이나 영화의 스페셜 DVD, 음반 같이 프로젝트를 통해 생산되는 결과물들도 자유롭게 제시할 수 있으며 독특한 참여의 기회를 제시할 수도 있습니다.</p></p>

<p><p>파티나 상영회, 제작 현장 초대도 좋고, 기여도가 높은 후원자의 이름으로 작품의 주인공 이름을 명명하는 것도 좋은 방법입니다. 르네상스 시대의 화가들처럼 만들어질 작품에 후원자의 흔적을 새겨드릴 수도 있을 겁니다. 독창적인 선물을 생각해내는 것은 크리에이터의 몫입니다. 먼저 주변 사람들이 반응하고, 관심의 끈을 놓치 않도록 하는 것이 무엇이 있을까 생각해보세요.</p></p>

<p><p>무엇보다 후원자들이 후원에 보람을 느끼고 창조적인 작업에 관심의 끈을 놓지 않도록하는 선물이 매력적인 것이겠지요.</p>
</p>
    <h3 id="59"><a href="/help#59">선물으로 제시할 수 없는 것도 있나요?</a></h3>
    <p><p>유사 수신 거래 관련 법령에 따라 금전적 투자수익을 돌려주는 것은 금지하고 있습니다.(법적인 문제가 없더라도 저흰 돈이나 지분으로 돌려주는 건 싫습니다.)</p> 
<br /><p>복권과 특정 상품에 대한 쿠폰, 기성 상품을 판매하는 것 또한 금지하고 있습니다. 즉, 텀블벅의 플랫폼을 투자, 대출의 형태나 기성 상품(이미 재고가 있는)을 판매하는 쇼핑몰의 형태로 이용하실 수 없습니다.</p>
</p>
    <h3 id="60"><a href="/help#60">프로젝트 진행자가 약속한 선물을 이행한다고 어떻게 믿을 수 있죠?</a></h3>
    <p><p>모든 진행자는 자신이 약속한 후원자 선물을 실천할 책임이 있습니다. 일부에서는 진행자의 책임 회피를 우려하지만, 텀블벅에서의 펀딩은 무엇보다 자신의 네트워크를 중심으로 진행됩니다. 친구, 가족, 팬 등 이미 알고 있는 사람들의 신뢰 속에 후원이 시작되는 것입니다. 이 같은 이유로 텀블벅에서는 인터넷 오픈마켓과 같은 별도의 신용평가 시스템 없이도 진행자에게 강력한 사회적 책임 구조가 형성되고 있는 것입니다.</p></p>

<p><p>아울러 텀블벅은 프로젝트 진행자 스스로가 직접 프로젝트에 대해 설명하는 비디오를 업로드하도록 권장하고 있으며, 모집이 성사된 후에도 작업이 끝날 때까지 진행 상황에 대해 커뮤니케이션을 지속하도록 권장하고 있습니다.</p>
</p>
    <h3 id="61"><a href="/help#61"> 주소, 티셔츠 사이즈 등의 추가적인 정보 입력 창은 선물을 선택할 때 나오지 않던데요?</a></h3>
    <p><p>그런 건 진행자가 별도 인터페이스를 통해 만드는 질문 양식이 있어서, 프로젝트가 완성되는 시점에 여러분의 메일로 전송됩니다. 아직 성공하지도 않은 프로젝트에 대해 후원할 때마다 번거롭게 배송 정보를 입력할 필요는 없으니까요.</p>
</p>
    <h3 id="62"><a href="/help#62">제가 선택한 선물의 진행 상태는 어디서 알 수 있죠?</a></h3>
    <p><p>먼저 프로젝트 페이지의 업데이트를 확인합니다. 업데이트는 프로젝트 진행자가 작업의 진척과 약속한 선물에 관한 진행 소식을 업데이트하는 곳입니다. (정상적인 메일로 가입하셨다면, 이메일로도 받아보실 수 있습니다)</p></p>

<p><p>만약 원하는 정보를 얻지 못하였다면, 프로젝트 진행자의 이름 옆에 있는 쪽지 보내기 버튼을 통해 직접 문의하실 수 있습니다.</p>
</p>
    <h3 id="63"><a href="/help#63">진행자가 후원자 선물을 만드는데 금액 제한이 있나요?</a></h3>
    <p><p>하나에 최소 1,000원부터 최대 1천만원 사이의 금액으로 책정하실 수 있습니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t7">
    수수료와 세제혜택
  </h2> 

    <h3 id="64"><a href="/help#64">텀블벅의 수수료는 어느 정도죠?</a></h3>
    <p><p>5%(VAT 별도)입니다. 텀블벅은 모집이 성사된 프로젝트에 한해 최종 기금액의 5%를 유지비용으로 수수하고 있습니다. 펀딩에 실패한 프로젝트는 애시당초 결제가 발생하지 않으므로 수수료 또한 없습니다.</p>
</p>
    <h3 id="65"><a href="/help#65">다른 수수료는 없나요?</a></h3>
    <p><p>결제 진행에 대한 결제 대행사의 수수료가 있습니다. 신용카드의 경우 3.5%(VAT 별도)이며, 계좌 이체의 경우 건당 약 275원의 수수료가 부과됩니다. 최종적인 수수료는 후원자들의 결제 수단에 따라 가변적이므로 사전에 정확히 계산하는 것은 어렵습니다만 대략적으로 총 모집금의 10%이하로 보시면 됩니다.</p></p>

<p> <p>플랫폼 수수료 5% + 결제대행사 수수료(신용카드 건당 약 4% 미만 + 계좌이체 건당 220원)</p>
</p>
    <h3 id="66"><a href="/help#66">최종 집계된 수수료 내역에 대해서는 자세히 알려주시는가요?</a></h3>
    <p><p>물론입니다. 프로젝트의 기금 모집이 성사되고 금액의 수령이 완료되면 해당 프로젝트 진행자에게 이메일로 수수료에 대한 자세한 명세서가 전송됩니다.</p>
</p>
    <h3 id="67"><a href="/help#67">수수료에 대한 세금계산서를 발행해주시는지요?</a></h3>
    <p><p>물론입니다. 텀블벅은 부가가치세법 18조에 의거, 플랫폼 수수료, 결제 수수료를 포함하여 모집에 소요된 모든 수수료에 대해 프로젝트 진행자가 비용을 증빙할 수 있도록 전자 세금계산서를 발행해드리고 있습니다.</p>
</p>
    <h3 id="68"><a href="/help#68">프로젝트 후원에 세제 혜택이 있나요?</a></h3>
    <p><p>프로젝트마다 다릅니다. 지정 기부금으로 인정되어 세제 혜택이 있는 프로젝트는 진행자가 페이지에 별도로 공지하고 있으며 후원금에 대해 증빙할 수 있도록 기부금 영수증을 발행해드리고 있습니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t8">
    미디어 관리
  </h2> 

    <h3 id="69"><a href="/help#69">피칭 비디오를 업로드 하려는데요, 업로드할 수 있는 용량은 얼마인가요?</a></h3>
    <p><p>최대 200MB이며 현재는 mp4 파일만 업로드하실 수 있습니다.</p>
</p>
    <h3 id="70"><a href="/help#70">피칭 비디오 업로드는 필수인가요?</a></h3>
    <p><p>물론 비디오가 필수는 아닙니다. 비디오가 아니라도 진행자는 포트폴리오 페이지를 링크하거나 아니면 이미 알고 있는 커뮤니티나 주변 친구들로부터 강력한 후원을 받을 수도 있을 것입니다.</p></p>

<p><p>하지만 비디오는 매우 효과적인 매체입니다. 만약 여러분이 누군가 직접 자신의 창조적인 시도에 대해 말하는 것을 듣고 직접 그 열정을 목격한다면, 강한 호소력을 느끼게 될 것입니다. 사람들은 크리에이터의 열정, 진정성 그리고 실천 가능성에 반응하는데 비디오는 이런 것들을 매우 친근하고 직관적인 방식으로 전달하기 때문입니다. 아울러 비디오의 뛰어난 점은 여러분을 모르는 사람들도 여러분에 대해 신뢰감을 갖게 한다는 것입니다.</p>
</p>
    <h3 id="71"><a href="/help#71">먼저 프로젝트를 공개한 다음에 피칭 비디오를 업로드해도 되나요?</a></h3>
    <p><p>그렇습니다.</p>
</p>
    <h3 id="72"><a href="/help#72">피칭 비디오를 찍는 간단한 요령 같은 거라도 있을까요?</a></h3>
    <p><p>비디오라는 매체를 전문적으로 잘 다룰 필요까진 없습니다. 중요한 건 커뮤니케이션입니다. 자신이 누구이며 어떤 프로젝트를 진행할 것이고, 왜 도움이 필요한지 제대로 전달할 수 있다면 그걸로 충분합니다. 가급적 상대방에게 편안히 말하듯 프로젝트에 대해 소개하세요. 스타일이야 다양할 수 있겠지만 개인적으로 얼굴을 보고 설명하는 듯한 친밀함이야말로 비디오의 핵심입니다. 많이 떨릴 수도 있지만 반복할 수록 훨씬 나아지는 걸 발견할 수 있을 것입니다. 예전의 작업물이나 진행 중인 프로젝트에 대한 자료가 있다면 꼭 보여주세요.
<br /></p></p>

<p><p>정리하자면 아래와 같습니다.</p></p>

<p><p>그냥 즐기세요. 아마 혼자 카메라 앞에서 여러번 촬영을 반복할 수도 있고 친구들 몇명과 날 잡아 피칭 비디오를 함께 찍어볼 수도 있을 것입니다. 절대 완벽할 필요 없습니다. 자기 자신이 자연스럽게 묻어 나는 비디오가 가장 매력적입니다.</p>
</p>
    <h3 id="73"><a href="/help#73">커버 이미지로 업로드 가능한 이미지 파일의 용량은 얼마정도지요?</a></h3>
    <p><p>최대 10MB까지 가능합니다.</p>
</p>
    <h3 id="74"><a href="/help#74">커버 이미지를 2개 이상 업로드할 수 있나요?</a></h3>
    <p><p>1개만 가능합니다.</p>
</p>
    <h3 id="75"><a href="/help#75">움직이는 이미지(gif)를 커버 이미지로 등록할 수 있나요?</a></h3>
    <p><p>불가능합니다</p></p>
    <h3 id="76"><a href="/help#76">커버 이미지와 피칭 비디오는 어디서 업로드할 수 있죠?</a></h3>
    <p><p>커버 이미지와 비디오 모두 프로젝트 만들기의 '위젯 만들기' 부분에서 업로드할 수 있습니다.</p>
</p>
    <h3 id="77"><a href="/help#77">피칭 비디오를 커버 이미지로 사용할 수 있나요?</a></h3>
    <p><p>비디오를 커버 이미지로 사용할 수 없습니다. 커버 이미지를 별도로 지정해주셔야 합니다.</p>
</p>
    <h3 id="78"><a href="/help#78">위젯만들기에서 Youtube나 Vimeo에 올린 영상을 연동시킬 수 있나요?</a></h3>
    <p><p>불가능합니다. 오직 직접 업로드만 가능합니다. 프로젝트 페이지 본문에는  Youtube나 Vimeo의 영상을 임베딩할 수 있습니다.</p>
</p>
    <h3 id="79"><a href="/help#79">대표 이미지를 삭제할 수 있나요?</a></h3>
    <p><p>대표 이미지는 한번 등록하면 삭제할 수 없으며 오직 대체만 가능합니다.</p>
</p>
    <h3 id="80"><a href="/help#80">피칭 비디오를 삭제할 수 있나요?</a></h3>
    <p><p>비디오는 삭제할 수 있습니다. 삭제 후 다시 업로드할 수 도 있고, 곧바로 대체하여 업로드하는 것도 가능합니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t10">
    계정 설정
  </h2> 

    <h3 id="86"><a href="/help#86">계정과 연계된 이메일 주소는 어떻게 변경할 수 있지요?</a></h3>
    <p><p>로그인 하신 후, 상단의 프로필에서 내 정보 수정-계정 설정에서 변경하실 수 있습니다</p>
</p>
    <h3 id="87"><a href="/help#87">알림 메일 수신 설정은 어디서 할 수 있나요?</a></h3>
    <p><p>먼저 로그인 하신 후, 내 정보 수정-공개/알림 설정에서 설정할 수 있습니다.</p>
</p>
    <h3 id="88"><a href="/help#88">비밀번호를 잊어버렸습니다. 어떻게 하면 좋죠?</a></h3>
    <p><p>로그인 창 하단의 비밀번호를 잊으셨나요?를 통해 비밀번호를 리셋하실 수 있습니다.</p>
</p>
    <h3 id="89"><a href="/help#89">계정을 삭제하려면 어떻게 해야 하나요?</a></h3>
    <p><p>현재 임의의 계정 삭제는 불가능한 상태입니다. 계정 삭제를 원하시면 support@tumblbug.com으로 문의해주세요. 운영진이 직접 처리해드리겠습니다.</p>
</p>

</li>

        <li class="b-text-list__item">
  <h2 id="t11">
    기타
  </h2> 

    <h3 id="90"><a href="/help#90"> 등록한 프로젝트를 제 블로그에 임베딩하고 싶은데요. 위젯 같은 거라도 있나요?</a></h3>
    <p><p>물론입니다. 프로젝트 페이지의 비디오 영역 하단에 공유하기 버튼을 누르시면 블로그에 원하는 형태의 위젯을  달 수 있도록 html태그가 표시됩니다.</p>
</p>
    <h3 id="91"><a href="/help#91">개별 프로젝트의 업데이트를 RSS 피드로 받아볼 수 있나요?</a></h3>
    <p><p>물론입니다. 업데이트는 RSS 피드로 구독이 가능합니다. 업데이트 영역 상단의 RSS마크를 확인하세요. 단, 후원자에게만 공개된 포스트는 표시되지 않습니다.</p>
</p>
    <h3 id="92"><a href="/help#92">어디서 텀블벅을 찾아볼 수 있나요?</a></h3>
    <p><p>트위터(@tumblbug), 페이스북(/tumblbug)에서 텀블벅을 찾아보실 수 있습니다. 정말로 찾아보시고 싶다면 서울시 마포구 상수동에서도 찾아보실 수 있습니다.</p>
</p>
    <h3 id="94"><a href="/help#94">텀블벅 로고를 다운받을 수 있나요?</a></h3>
    <p><p>물론입니다. 여기서 <a href="https://d1pqmsyqo4bi9.cloudfront.net/assets/brand/tumblbug_logo.eps" class="u-link u-link--blue">EPS(vector) 파일</a>을 다운받으실 수 있습니다.</p>
</p>
    <h3 id="97"><a href="/help#97">프로젝트 진행자가 배송 주소를 입력하라고 하는데 어디에다 써야 하나요?</a></h3>
    <p><p>가장 쉬운 방법은 진행자가 보낸  추가 정보 입력 요청 메일에 '추가정보 입력하기' 버튼을 클릭해서 들어가는 것입니다.</p><p>다른 방법은 텀블벅 로그인- 우측 상단 본인 아바타 클릭- 나의 후원 현황- 배송 주소 입력하기 입니다.</p><p>주소 뿐만 아니라, 선물의 색상, 사이즈 등의 추가 정보를 입력할 때도 동일합니다.</p></p>

<p></p>

</li>

    </ul>



</div>
  <div class="b-sidebar b-sidebar--slimmer" data-scroll="sticky" data-top-offset="26">
  <nav class="b-menu b-menu_stroke_yes">
    <h5 class="b-menu__title strapline">FAQ 목차</h5>
    <ul class="b-menu__items text-size_xs">
        <li class="b-menu__item">
          <a href="/help#faq_section_title_1" class="b-menu__item__link js-move-to-item" data-key="1">
            기본
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_2" class="b-menu__item__link js-move-to-item" data-key="2">
            프로젝트 밀어주기
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_3" class="b-menu__item__link js-move-to-item" data-key="3">
            자동이체 등록
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_4" class="b-menu__item__link js-move-to-item" data-key="4">
            프로젝트 페이지 만들기
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_5" class="b-menu__item__link js-move-to-item" data-key="5">
            프로젝트 진행 및 관리하기
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_6" class="b-menu__item__link js-move-to-item" data-key="6">
            후원자 선물
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_7" class="b-menu__item__link js-move-to-item" data-key="7">
            수수료와 세제혜택
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_8" class="b-menu__item__link js-move-to-item" data-key="8">
            미디어 관리
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_10" class="b-menu__item__link js-move-to-item" data-key="10">
            계정 설정
</a>        </li>
        <li class="b-menu__item">
          <a href="/help#faq_section_title_11" class="b-menu__item__link js-move-to-item" data-key="11">
            기타
</a>        </li>
    </ul>
  </nav>
  <ul class="[ b-menu b-menu_horiz_yes b-menu_partition_disc ] has-gap-top-dot5 text-size_2xs">
    <li class="b-menu__item">
      <a href="/terms-of-use" class="b-menu__item__link">
        이용약관
</a>    </li>
    <li class="b-menu__item">
      <a href="/privacy" class="b-menu__item__link">
        개인정보 보호정책
</a>    </li>
  </ul>
</div>

  <script type="text/javascript">
    $(document).ready(function(e){
        Tumblbug.views.faq_view();
        });
  </script>


</div></div> 