<div style="margin-top: 63px">

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  
                    <div class="clearfix"></div>
                    <h2 class="section-heading">임철희
                     <hr class="section-heading-spacer">
                    <br>CEO(경영자)</br><br>CRO(위기관리책임자)</br></h2>
                     
                    <p class="lead">나는 누구인가. 나도 모른다. 난 내 잘난 맛에 산다. 음하하하하 </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/2012%EB%85%84_LG_DIOS_%EC%8B%A0%EC%A0%9C%ED%92%88_%EC%B6%9C%EC%8B%9C%2C_%EA%B9%80%ED%83%9C%ED%9D%AC_%EB%AA%A8%EB%8D%B8_%EC%B4%AC%EC%98%81_%EC%BB%B7_-_Flickr_-_LGEPR_%2810%29.jpg/475px-2012%EB%85%84_LG_DIOS_%EC%8B%A0%EC%A0%9C%ED%92%88_%EC%B6%9C%EC%8B%9C%2C_%EA%B9%80%ED%83%9C%ED%9D%AC_%EB%AA%A8%EB%8D%B8_%EC%B4%AC%EC%98%81_%EC%BB%B7_-_Flickr_-_LGEPR_%2810%29.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">황준우
                     <hr class="section-heading-spacer">
                    <br>CTO(기술경영자)</br><br>CKO(지식책임자)</br><br>COO(운영관리책임자)</br></h2>
                    <p class="lead">개발이 즐겁다. 나의 하루는 개발로 시작하여 개발로 끝나겠다. 개발개발개발~</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/2012%EB%85%84_LG_DIOS_%EC%8B%A0%EC%A0%9C%ED%92%88_%EC%B6%9C%EC%8B%9C%2C_%EA%B9%80%ED%83%9C%ED%9D%AC_%EB%AA%A8%EB%8D%B8_%EC%B4%AC%EC%98%81_%EC%BB%B7_-_Flickr_-_LGEPR_%2810%29.jpg/475px-2012%EB%85%84_LG_DIOS_%EC%8B%A0%EC%A0%9C%ED%92%88_%EC%B6%9C%EC%8B%9C%2C_%EA%B9%80%ED%83%9C%ED%9D%AC_%EB%AA%A8%EB%8D%B8_%EC%B4%AC%EC%98%81_%EC%BB%B7_-_Flickr_-_LGEPR_%2810%29.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                   
                    <div class="clearfix"></div>
                    <h2 class="section-heading">배은지
                     <hr class="section-heading-spacer">
                     <br>CHO(인사책임자)</br><br>CDO(디자인책임자))</br><br>CMO(마케팅경영자)</br></h2>
                    <p class="lead">난 마케팅분야를 담당해~  난 뭐든 잘하지~ </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">윤보람
                    <hr class="section-heading-spacer">
                    <br>CGO(환경책임자)</br><br>CFO(재무경영자)</br></h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.google.co.kr/imgres?imgurl=https://upload.wikimedia.org/wikipedia/commons/8/85/2012%2525EB%252585%252584_LG_DIOS_%2525EC%25258B%2525A0%2525EC%2525A0%25259C%2525ED%252592%252588_%2525EC%2525B6%25259C%2525EC%25258B%25259C,_%2525EA%2525B9%252580%2525ED%252583%25259C%2525ED%25259D%2525AC_%2525EB%2525AA%2525A8%2525EB%25258D%2525B8_%2525EC%2525B4%2525AC%2525EC%252598%252581_%2525EC%2525BB%2525B7_-_Flickr_-_LGEPR_(10).jpg&imgrefurl=https://commons.wikimedia.org/wiki/File:2012%25EB%2585%2584_LG_DIOS_%25EC%258B%25A0%25EC%25A0%259C%25ED%2592%2588_%25EC%25B6%259C%25EC%258B%259C,_%25EA%25B9%2580%25ED%2583%259C%25ED%259D%25AC_%25EB%25AA%25A8%25EB%258D%25B8_%25EC%25B4%25AC%25EC%2598%2581_%25EC%25BB%25B7_-_Flickr_-_LGEPR_(10).jpg&h=1582&w=1253&tbnid=3tYRiSD0YGWOzM:&docid=HA_dPDZkQHC2JM&ei=YeTjVfehI8aj0gS1xaeICg&tbm=isch&ved=0CBsQMygAMABqFQoTCLfWx9zJ0scCFcaRlAodteIJoQ">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">박능엄
                    <hr class="section-heading-spacer">
                    <br>CCO(고객담당책임자)</br><br>CIO(정보관리책임자)</br><br>CPO(정보보호책임자)</br></h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    </div>
</div>