<div style="margin-top: 63px;">
    <div class="container">
        <div class="jumbotron">
            <h1>finalProcessList</h1>
        </div>
        <div class="row"> 
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <iframe width="358" height="168" src="https://www.youtube.com/embed/o_1aF54DO60" frameborder="0" allowfullscreen></iframe>
                    <div class="caption">
                        <h4 class="pull-right">100%</h4>
                        <h4><a href="#">글레스톤베리 락페스티벌 가기</a>
                        </h4>
                        <p>
                            <span>한국의 락을 알리고 오갔어요<span>
                            <span class="pull-right">완료!</span>
                        </p>
                    </div>
                    <div class="ratings">
                        <p>
                            버킷리스트가 실현 되었습니다.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <iframe width="358" height="168" src="https://www.youtube.com/embed/o_1aF54DO60" frameborder="0" allowfullscreen></iframe>
                    <div class="caption">
                        <h4 class="pull-right">100%</h4>
                        <h4><a href="#">3일 동안 안깨고 잠자기</a>
                        </h4>
                        <p>
                            <span>인생은 박주영 처럼, 잠자기는 나폴레옹처럼<span>
                            <span class="pull-right">완료!</span>
                        </p>
                    </div>
                    <div class="ratings">
                        <p>
                            버킷리스트가 실현 되었습니다.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <iframe width="358" height="168" src="https://www.youtube.com/embed/o_1aF54DO60" frameborder="0" allowfullscreen></iframe>
                    <div class="caption">
                        <h4 class="pull-right">100%</h4>
                        <h4><a href="#">드뷔시 「달빛」 연주 마스터</a>
                        </h4>
                        <p>
                            <span>인생은 박주영 처럼, 잠자기는 나폴레옹처럼<span>
                            <span class="pull-right">완료!</span>
                        </p>
                    </div>
                    <div class="ratings">
                        <p>
                            버킷리스트가 실현 되었습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>