<div class="container bucket-container" id="" role="main">
  <div>
    <h1 class="headline text-weight_300">
       버킷 생성
    </h1>
  </div>
      <form accept-charset="UTF-8" action="#" class="new_project_request text-left" id="new_project_request" method="post">
          <div class="each-form-single-line form-group form-group-lg">
            <h3>버킷 이름</h3>
              <input class="form-control input-lg" type="text" placeholder="Bucket's name" name="name"><br>
          </div>

          <div class="each-form-single-line form-group form-group-lg">
            <h3>한 줄 설명</h3>
              <input class="form-control input-lg" type="text" placeholder="Explane in one line" name="intro_simple">
          </div>

          <div class="each-form-single-line form-group form-group-lg">
            <h3>대표 사진</h3>
              <input type="file" name="thumbnail" accept="image/*">
          </div>

          <div class="each-form-single-line form-group form-group-lg">
            <h3>버킷 소개</h3>
                <textarea class="form-control" rows="11" placeholder="Introduce your bucket" name="intro_detail"></textarea>
          </div>


        <div class="each-form-multi-line form-group form-group-lg">
                  <h3>후원 받을 기간</h3>
                  <div class="col-sm-6">
                    <h4>시작일</h4>
                    <div>
                      <input class="form-control" id="dpd1" tpye="text" name="start_date">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h4>마감일</h4>
                    <div>
                      <input class="form-control" id="dpd2" tpye="text" name="finish_date">
                    </div>
                  </div>
        </div>

          <div class="each-form-multi-line form-group form-group-lg" style="margin-bottom:100px">
            <h3>후원 희망 물품<button type="button" class="btn btn-warning btn-xs add-item"> + </button> </h3>
                  <div class="item-wrapper">
                    <div class="form-group col-sm-3 item-form">
                      <input class="form-control item-input" type="text" name="item_1">
                    </div>
                    <div class="form-group col-sm-3 item-form">
                      <input class="form-control item-input" type="text" name="item_2">
                    </div>  
                    <div class="form-group col-sm-3 item-form">
                      <input class="form-control item-input" type="text" name="item_3">
                    </div>
                    <div class="form-group col-sm-3 item-form">
                      <input class="form-control item-input" type="text" name="item_4">
                    </div>             
                  </div>

          </div>
          <div>
            <a href="#" class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="button">생성하기</a>
          </div>
      </form> 
</div>


<script type="text/javascript">
  
  $(document).ready(function() {
      var max_fields      = 12; //maximum input boxes allowed
      var wrapper         = $(".item-wrapper"); //Fields wrapper
      var add_button      = $(".add-item"); //Add button ID
     
      var x = 4; //initlal text box count
      $(add_button).click(function(e){ //on add input button click
          e.preventDefault();
          if(x < max_fields){ //max input box allowed
              x++; //text box increment
              $(wrapper).append('<div class="form-group col-sm-3 item-form"><input class="form-control item-input" name="item_'+x+'"><button type="button" class="close remove-field" aria-label="Close"><span aria-hidden="true">&times;</span></button></input></div>'); //add input box
          } else {
            alert('최대 12개까지 등록 가능합니다.');
          }
      });
     
      $(wrapper).on("click",".remove-field", function(e){ //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
      })


      /* datepicker */
      var nowTemp = new Date();
      var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
       
      var checkin = $('#dpd1').datepicker({
        onRender: function(date) {
          return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
      }).on('changeDate', function(ev) {
        if (ev.date.valueOf() > checkout.date.valueOf()) {
          var newDate = new Date(ev.date)
          newDate.setDate(newDate.getDate() + 1);
          checkout.setValue(newDate);
        }
        checkin.hide();
        $('#dpd2')[0].focus();
      }).data('datepicker');
      var checkout = $('#dpd2').datepicker({
        onRender: function(date) {
          return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
        }
      }).on('changeDate', function(ev) {
        checkout.hide();
      }).data('datepicker');


  });

</script>