<div style="margin-top:100px">
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://file2.instiz.net/data/file/20150607/5/5/b/55bdb695fa1dad95940b0d9cbde29769.png" alt="Generic placeholder image" width="140" height="140">
        </div>
        <div class="col-lg-5">
          <h2>글레스톤베리 가기</h2>
          <p>한국의 락을 알리고 오겠습니다.</p>
          <div class="col-lg-4">
            <h3>90%</h3>
          </div>
          <div class="col-lg-4">
            <h3>7일남음</h3>
          </div>
          <div class="col-lg-4">
            <h3>83명후원</h3>
          </div>
        </div>
        <div class="col-lg-3">
          <h5>#항공권 #예매권 #5성급호텔숙박권 #금발의 34-24-34 여성 #10000파운드(경비)</h5>
          <br/><a class="btn btn-lg btn-primary" href="/bucket/support" role="button">후원하기</a>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 style="margin-bottom:40px" class="blog-post-title">자유와 해방의 모든 것, 글래스톤베리</h2>
              <div class="col-md-12">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="item">
                              <img class="slide-image" src="http://image.music.naver.net/music/contents/promotion/special/content/201405/140520_gstbf_01_2411.jpg" alt="">
                          </div>
                          <div class="item">
                              <img class="slide-image" src="http://image.music.naver.net/music/contents/promotion/special/content/201405/140520_gstbf_02_2411.jpg" alt="">
                          </div>
                          <div class="item active">
                              <img class="slide-image" src="http://www.gigsoup.co.uk/wp-content/uploads/2015/06/Screen-Shot-2015-06-23-at-16.59.51-620x350.png" alt="">
                          </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                  </div>
              </div>
            <p>[글래스톤베리 페스티벌]은 한 시골 농장의 주인이었던 마이클 이비스가 지미 헨드릭스가 세상을 뜬 다음 날인 
            1970년 9월 19일 자신의 농장을 단 하루 동안 공개하여 음악 축제를 열었던 것으로부터 시작되었다. 젊은 농장주가 자신이 참가했던 
            블루스페스티벌을 작은 규모로나마 재현하고 싶다는 소박한 생각에서 시작한 이 축제는 해를 거듭할수록 발전해 이제는 지구 상에 현존하는 
            가장 큰 뮤직 페스티벌로 자리 잡아, 매년 여름이면 17만 명이 넘는 세계 각국의 사람들이 이 농장으로 모여든다. 티켓은 보통 4월 초부터 
            판매되는데, 10만 장이 훨씬 넘는 티켓이 순식간에 매진되면서 매해 뉴스를 장식한다. 치열한 경쟁과 더불어 나날이 늘어나는 암표 거래를 막기 
            위해 2007년부터는 사전에 예매자의 정보를 웹사이트에 등록한 사람들만이 예매를 할 수 있는 시스템도 생겨났다. 페스티벌 선택의 가장 중요한
            요소라고 할 수 있는 라인업이 공개되지 않는 시점에서도, 매년 매진의 신화를 기록하는 품격이 다른 페스티벌, 바로 [글래스톤베리]다. </p>
            <p>수천 평방미터에 달하는 넒은 야외 공연장 20개의 무대에서는 록, 팝, 재즈, 월드, 일렉트로닉 등 전방위 음악 장르 및 서커스, 힐링, 퍼포먼스로
            구성된 1,000여 개의 공연이 3일 동안 밤낮을 가리지 않고 흘러나오며, 세계 최대 노천 음악 페스티벌인 만큼 숙박은 모두 텐트에서 해결하는데 
            리어카부터 해먹, 신문지까지 '정석 캠핑'에서는 보기 힘든 개성 넘치는 캠핑 장비를 구경하는 재미도 쏠쏠하다. 지난 40년간 콜드플레이, 
            라디오헤드, 뮤즈, U2, 데이빗 보위, 벨벳 언더그라운드, 프로디지, 뉴 오더, 밥 말리, 비욕, 케미컬 브러더스, 핑크 플로이드, 매시브 어택 등 당대 
            최고의 뮤지션들이 [글래스톤베리]를 찾았고, 지금도 여전히 해마다 최고의 라인업을 선보인다. [글래스톤베리]의 숨겨진 스토리와 자태가 몹시 
            궁금하다면 롤링 스톤스, 데이비드 보위 등의 뮤직비디오를 연출하고, 섹스 피스톨스의 다큐멘터리 [The Filth and Fury]를 작업한 바 있는 줄리언 
            템플에 의해 만들어진 영화 [글래스톤베리]를 꼭 한 번 보실 것을 추천한다. </p>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <h4>후원이 필요해요!</h4>
          <a href="#">
          <div class="sidebar-module sidebar-module-inset sidebar-module-inset-sn">
            <li class="tag_li tag_support_yet" >#10000파운드(경비)</li>
            <li class="tag_li tag_support_yet" >#멋있음</li>
          </div>
          </a>
          <h4>후원중이에요!</h4>
          <div class="sidebar-module sidebar-module-inset sidebar-module-inset-si">
            <li class="tag_li tag_supporting">#5성급호텔숙박권</li>
            <li class="tag_li tag_supporting">#금발의 34-24-34 여성</li>
          </div>
          <h4>후원 완료됐어요!</h4>
          <div class="sidebar-module sidebar-module-inset">
            <li class="tag_li tag_supported" >#항공권</li>
            <li class="tag_li tag_supported" >#예매권</li>
          </div>
          <div class="sidebar-module">
            <h4>같은 태그의 게시물 보기</h4>
            <ol class="list-unstyled">
              <li><a href="#">#항공권</a></li>
              <li><a href="#">#예매권</a></li>
              <li><a href="#">#5성급호텔숙박권</a></li>
              <li><a href="#">#금발의 34-24-34 여성</a></li>
              <li><a href="#">#10000파운드(경비)</a></li>
              <li><a href="#">#멋있음</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h3>후원 태그</h3> </div>
          <div class="col-sm-6" style="text-align:left"><h3>상세 설명</h3></div>
          <div class="col-sm-3" style="text-align:left"><h3>후원자</h3></div>
      </div>
      <hr>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4>#티켓</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4>미국가는 티켓 2015.05.08 출발</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4>대한항공</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #배낭가방</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 배낭여행 가는데 배낭가방이 없어요. 큰걸로~</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> TUMI</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #5성급호텔숙박권</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 별이 5개가 아니면 전 못 자요</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> AIRBNB</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #Mercedes</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 이동수단이 있어야죠!</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> HYUNDAI</h4> </div>
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-3" style="text-align:left"><h4> #34-24-34 금발의 여성</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 같이 여행을 갈 동반자가 있어야죠!</h4></div>
          <div class="col-sm-3" style="text-align:left"><h4> 결혼해 DUO</h4> </div>
      </div>
    </div>
    <div class="container marketing">
      <hr>
      <div class="col-md-7">
        <h3>100개의 댓글이 있어요.</h3>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="col-md-5"><button type="submit" class="btn btn-primary" style="margin-top:90px">등록하기</button></div>
      <div class="col-md-12">
        <hr>
        <h3><span class="label label-info">나도갈래님</span></h3>
        <p>저는 비행기 짐칸에 실어주세요</p>
        <hr>
        <h3><span class="label label-info">배터리님</span></h3>
        <p>80%임</p>
        <hr>
      </div>
    </div>
</div>