<div style="padding-top:63px">
  <div style="text-align:center; padding-top:30px">
    <div class="container">
      <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="http://file2.instiz.net/data/file/20150607/5/5/b/55bdb695fa1dad95940b0d9cbde29769.png" alt="Generic placeholder image" width="140" height="140">
            <h3>은지보람</h3>
          </div>
          <div class="col-lg-5">
            <h2>글레스톤베리 가기</h2>
            <p>한국의 락을 알리고 오겠습니다.</p>
            <div class="col-lg-3">
          </div>
        </div>
      </div>
      <hr>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-4" style="text-align:left"><h3>후원 목록</h3> </div>
          <div class="col-sm-6" style="text-align:left"><h3>상세 설명</h3></div>
      </div>
      <hr>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-4" style="text-align:left"><h4># 티켓</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 미국가는 티켓 2015.05.08 출발</h4></div>
          <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
      </div>
      <div style="padding:10px 0px 50px">
          <div class="col-sm-4" style="text-align:left"><h4> # 배낭가방</h4> </div>
          <div class="col-sm-6" style="text-align:left"><h4> 배낭여행 가는데 배낭가방이 없어요. 큰걸로~</h4></div>
          <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
      </div>
      <hr>
      <div>
      <a  href="#" class="btn btn-primary btn-lg active" role="button">후원하기</a>
      </div>
      <br>
    </div>
  </div>
</div>