.bucket-container {
    vertical-align: middle;
    text-align: center;
    margin-top: 63px;
    padding: 30px 0px 70px;
}

.make-bucket-container {
	width: 90%;

}

.bucket-main {
	padding: 40px 0px 70px;
}

.each-step {
    padding: 30px 0px 30px;
}

.each-form-single-line {
    padding: 20px 0px 20px;
}

.each-form-multi-line {
	padding: 20px 0px 100px;
}

.each-form-textarea {
    padding: 20px 0px 270px;
}

textarea {
    resize:none;
}

.item_wrapper {

}

.item-input {
	float: left;
	width: 95%;
	margin: 0px 0px 5px;
}

button.close {
	padding: 5px 0px;
}

.remove-field {
	width: 5%;
	position: relative;
	float: right;
}

.item-form {

	padding-right: 5px;
}

.text-left{
	text-align: left;
}