.bucket-container {
    vertical-align: middle;
    text-align: center;
    margin-top: 63px;
    padding: 20px 0px 70px;
}

.bucket-main {
	padding: 20px 0px 70px;
}

.each-step {
    padding: 30px 0px 30px;
}

.each-form-single-line {
    padding: 20px 0px 20px;
}

.each-form-multi-line {
	padding: 20px 0px 100px;
}

.each-form-textarea {
    padding: 20px 0px 270px;
}

textarea {
    resize:none;
}

.item_wrapper {

}

.item-input {
	float: left;
	width: 95%;
	margin: 0px 0px 5px;
}

button.close {
	padding: 5px 0px;
}

.remove-field {
	width: 5%;
	position: relative;
	float: right;
}

.navbar-brand {
    height: 60px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 17px;
}


.each_list_container {
  width: 32.333%;
  margin-left: 0.5%;
  margin-right: 0.5%
}

.each_list_tag {
  margin-top: 10px
}



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}

.marketing h2 {
  margin-bottom: 20px
}

.marketing h4 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 0 0 30px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  border: 1px solid #63C3FA;
  border-radius: 4px;
}
.sidebar-module-inset-sn {
  border: 1px solid #F67474;
}
.sidebar-module-inset-si {
  border: 1px solid #bab8b8;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/* Blog posts */

.blog-post {
  margin-bottom: 30px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.tag_li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    font-weight: 500;
    font-size: 120%;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 3px 4px 3px 4px;
}

.tag_li:hover {
    list-style-type: none;
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    font-size: 120%;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 3px 4px 3px 4px;
}

.tag_support_yet {
  border-color: #F67474;
  color: #F67474;
}
.tag_support_yet:hover {
  background-color: #F67474;
}

.tag_supporting {
  border-color: #bab8b8;
  color: gray;
}

.tag_supporting:hover {
  background-color: #bab8b8;
}

.tag_supported {
  border-color: #63C3FA;
  color: #63C3FA;
}

.tag_supported:hover {
  background-color: #63C3FA;
}

/*  support */

.checkboxtext
{
  /* Checkbox text */
  font-size: 200%;
  display: inline;
}

/* project detail */

a:hover, a:focus {
  text-decoration: none;
}


.detail_top_info {
}

.detail_support_btn {
  padding: 0px;
  margin-bottom: 40px
  

}



.detail_img_container {
   width:100%;
   padding-bottom:10px;
}


