  <!--  
<nav class="b-nav-global"> 
  <ul class="b-nav-global__items">
    <li class="[ b-nav-global__item b-nav-global__item_primary_yes b-nav-global__item_type_brand ]">
      <a href="/" class="logo ui-logo-global">tumblbug</a>
    </li> 

 
      </ul> <!-- end .b-menu -->
    <!--</li>-->
<!--
    <li class="[ b-nav-global__item b-nav-global__item_primary_no b-nav-global__item_type_search ] js-open-search-form"> 
      <input type="checkbox" id="btn-002" class="i-icon-search" />
      <label for="btn-002" class="b-icon-search js-icon-search"> 
        <span class="b-icon-search__inner"></span>
      </label> 

      <form accept-charset="UTF-8" action="/projects" class="b-nav-global__search js-main-search-form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <!-- search_field_tag disables Youtube Play on iOS devices -->
      <!--  <input class="b-nav-global__search__field js-search-project" id="query" name="query" placeholder="프로젝트를 검색해보세요!" type="text" value="" />
      </form> <!-- end .b-nav-global__search -->
    <!--</li>-->

 <!--
  <li class="[ b-nav-global__item b-nav-global__item_primary_no b-nav-global__item_type_user ]">
        <ul class="[ b-menu b-menu_horiz_yes b-menu_stroke_yes b-menu--ui_global-menu ]">
          <li class="b-menu__item">
            <a href="#" class="b-menu__item__link js-show-recent-dms" data-pulldown-for="recent-dms" data-pulldown="true" data-url="/recent_dms">
              <div class="b-icon-dm">
                <span class="b-icon-dm__inner"></span>
                <span class="b-icon-dm__content"></span>
              </div> 
</a>
          </li>
          <li class="b-menu__item">
            <a href="#" class="b-menu__item__link js-show-recent-feeds" data-pulldown-for="recent-feeds" data-pulldown="true" data-url="/recent_feeds">
              <div class="b-icon-globe">
                <span class="b-icon-globe__inner"></span>
              </div>
</a>
          </li> 
          <li class="b-menu__item">
            <a href="/u/userzopadirade" class="b-menu__item__link ui-my-menu-button" data-pulldown-for="my-menu" data-pulldown="true">
              <div class="b-avatar" style="width: 38px">
  <div class="b-avatar__frame" style="width:38px; height:38px">
    <img alt="Avatar_7_medium" class="b-avatar__pic" src="https://d1pqmsyqo4bi9.cloudfront.net/assets/defaults/avatar_7_medium.png" />
</div>   
</div>
</a>          </li>
         <div class="b-pulldown is-invisible">
            <ul class="b-pulldown__menu">
              <li class="b-pulldown__menu__item">
                <a href="/users/102417/pledge_management" class="b-pulldown__menu__item__link">나의 후원 현황</a>
              </li>
              <li class="b-pulldown__menu__divider"></li>
              <li class="b-pulldown__menu__item">
                <a href="/u/userzopadirade" class="b-pulldown__menu__item__link">내 페이지</a>
              </li>
              <li class="b-pulldown__menu__item">
                <a href="/u/userzopadirade/edit" class="b-pulldown__menu__item__link">내 정보 수정</a>
              </li>
              <li class="b-pulldown__menu__item">
                <a href="https://tumblbug.com/users/102417/payment" class="b-pulldown__menu__item__link">지불정보 설정</a>
              </li>
              <li class="b-pulldown__menu__divider"></li>
              <li class="b-pulldown__menu__item">
                <a href="/logout" class="b-pulldown__menu__item__link logout-btn js-logout_btn">로그아웃</a>
              </li> 
            </ul> -->
          <!--</div>-->

        <!--</ul>-->






    </li> 

  </ul> 

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      Tumblbug.views.bNavGlobal(); 
    });
  </script>


</nav> <!-- end .b-nav-global -->


  



<script>
  $(document).ready(function (e) {
    Tumblbug.views.notifications_view();
  });
</script>

 
    
<div class="b-flag is_dent">
  <div style="left:42.5em" class="container">
    
<div  class="b-valign  b-valign--origin-left">
  <div  class="b-valign__inner">

    <!--[if IE 7]>
    <div class="b-valign__ie7_helper">
      <![endif]-->

      
      <h1  class="headline is_vaporable">개인정보 수정</h1>


      <!--[if IE 7]>
    </div>
    <![endif]-->

  </div>
</div>

  
<div style="left:0px" class="b-valign  b-valign--origin-right">
  <div class="b-valign__inner">

    <!--[if IE 7]>
    <div class="b-valign__ie7_helper">
      <![endif]-->

      <!--
      <ul class="b-menu b-menu_horiz_yes is_vaporable">
        <li class="b-menu__item"> <a href="/u/userzopadirade/edit" class="b-menu__item__link">프로필 설정</a></li>
        <li class="b-menu__item"> <a href="/u/userzopadirade/edit_account" class="b-menu__item__link">계정 설정</a></li>
        <li class="b-menu__item"> <a href="/users/102417/payment" class="b-menu__item__link">지불정보 설정</a></li>
      </ul>
-->

      <!--[if IE 7]>
    </div>
    <![endif]-->

  </div>
</div>
  </div>
</div>
 


<div  class="b-content b-content--clean">
  <div style="left:150px" class="container">
    
  
<div  class="b-main " id="" role="main">
  
    <form accept-charset="UTF-8" action="/users/102417" class="edit_user" enctype="multipart/form-data" id="edit_user_102417" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="/fO9ERCtZoGDd6znr5n9ymPmTdz21DH/2LSMcqQXzkU=" /></div>
<input id="page" name="page" type="hidden" value="0" /> 

<div class="b-form-list b-form-list--top">
  <label class="b-form__label text-size_xs" for="user_picture">프로필 사진</label> 
  <div class="b-form__item">
    <div class="b-media has-no-pad has-no-gap">
      <div class="b-media__item">
        <div class="b-avatar" style="width: 60px">
  <div class="b-avatar__frame" style="width:60px; height:60px">
    <img alt="Avatar_7_original" class="b-avatar__pic" src="https://d1pqmsyqo4bi9.cloudfront.net/assets/defaults/avatar_7_original.png" />
</div>   
</div>
      </div>
      <div class="b-media__body">
        <input id="user_picture" name="user[picture]" style="display:block;" type="file" /> 
        <span class="text-size_xs">
          사이즈는 가로 200px, 세로 250px에 최적화 되어있으며<br>
          jpg, gif, png파일을 지원합니다.
        </span>
      </div>
    </div>
  </div>
</div>


  <div class="b-form-list">
    <label class="b-form__label text-size_xs" for="user_fullname">
      이름
</label>    <input class="b-form__item form-field col-3" id="user_fullname" name="user[fullname]" type="text" value="" /> 
  </div>

  <div class="b-form-list">
    <label class="b-form__label text-size_xs" for="user_locname">
      비밀번호
</label>    <input class="b-form__item form-field col-5" id="user_locname" name="user[locname]" type="search" value="" /> 
  </div>


  <div class="b-form-list">
    <label class="b-form__label text-size_xs">SNS</label>

    <div class="b-form__item">
        <a href="/auth/facebook?request_type=connect-to-fb&amp;redirect_url=https://tumblbug.com/u/userzopadirade/edit" class="b-button b-button_theme_facebook" tabindex="2">
          <i class="b-fontello b-fontello--facebook "></i> 페이스북 연동하기
</a>    </div>
    <p class="b-form__help">
      SNS 계정을 연동하시면 더욱 신뢰할 수 있는 프로필 카드를 만들 수 있습니다.
    </p> 
  </div>

  <div class="b-form-list">
    <label class="b-form__label text-size_xs" for="user_phone1">전화번호</label>
    <div class="b-form__item">
      <input class="form-field col-2" id="user_phone1" name="user[phone1]" size="30" type="tel" value="" />
      <input class="form-field col-2" id="user_phone2" name="user[phone2]" size="30" type="tel" value="" />
      <input class="form-field col-2" id="user_phone3" name="user[phone3]" size="30" type="tel" value="" />
    </div>
    <p class="b-form__help">전화번호를 입력해주세요. 밀어주기 및 후원 선물 배송 시 연락을 위해 사용됩니다.</p>
  </div>


  <div class="b-form-list"> 
    <div class="b-form__label text-size_xs">
    </div>
    <div class="b-form__item">
      <input class="b-button b-button_size_l" name="commit" type="submit" value="수정하기" /> 
    </div>
  </div>
    </div>
  </div>
  </div>


  


</form>

</div>
  <!--

mode: :basic, :slim, :slimmer, :slimmest
position: :right(default), :left
custom_class: 기타 사용자 정의 클래스 추가 가능

b-sidebar__inner는 ie8 미만 버전에서만 mode를 대체하여 반응한다.

-->



    <!--[if IE 7]>
    
 
    <![endif]-->
    
    <!--
    <div class="b-panel box" data-ui-component="profile-card">
  <div class="b-panel__head">
  </div>
  <div class="b-panel__body has-no-pad">
    <ul class="b-profile_card">
  
   
      <h5 class="b-profile_card__title"> 프로필 카드 미리보기 </h5>
      <div class="b-profile_card__identity">
        <div class="b-avatar lfloat" style="width: 62px">
  <div class="b-avatar__frame b-avatar__frame--bordered" style="width:62px; height:62px">
    <img alt="Avatar_7_medium" class="b-avatar__pic" src="https://d1pqmsyqo4bi9.cloudfront.net/assets/defaults/avatar_7_medium.png" />
</div>   
</div>
        <div class="b-profile_card__name_area">
          <div class="b-profile_card__name_area__middle">
            <div class="b-profile_card__name_area__inner">
              <h5 class="[ yoke yoke--theme_creator ]"><a href="/u/userzopadirade">두치와뿌꾸</a></h5>
              <p class="b-profile_card__location">
                <i class="b-fontello b-fontello--location "></i>
                지역정보가 없음
              </p>
            </div>
          </div>
        </div>
      </div> 

      <div class="u-clear"></div> 

      <li class="b-profile_card__sns">
          <i class="b-fontello b-fontello--pledged b-fontello--pledged is_on"></i>
          <a href="/u/userzopadirade" class="yoke">1개 프로젝트</a>의 후원자 
      </li>

      <li class="b-profile_card__contacts">
          <a href="#" class="b-profile_card__contact_button b-profile_card__contact_button--full">자세히 보기</a>
      </li>
      <div class="u-clear"></div>
    </ul><!-- b-profile_card --> 
  </div>
</div>

    <!--[if IE 7]>
      </div>
    <![endif]-->


      </div>
    </div> 
  </div>
</div>

