<div style="padding-top:63px">
<div style="text-align:center; padding-top:30px">
  <div class="container">
    <div class="row">
        <div class="col-lg-3">
          <img class="img-circle" src="http://file2.instiz.net/data/file/20150607/5/5/b/55bdb695fa1dad95940b0d9cbde29769.png" alt="Generic placeholder image" width="140" height="140">
          <br>
          <button type="button" style="line-height: 16px; padding: 5px 17px; margin-top:5px" class="btn btn-default">이미지 편집</button>
        </div>
        <div class="col-lg-6" style="margin-top:20px">
          <h2>은지보람</h2>
          <p>이름은 수정 할 수 없습니다.</p>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <hr>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <p><strong>현재 비밀번호</strong></p>
        <input type="password" placeholder="현재 비밀번호 입력" data-validation-required-message="비밀번호를 입력해 주세요"><br>
        </p>
        <p><strong>새 비밀번호</strong></p>
        <input type="password" placeholder="새 비밀번호 입력" data-validation-required-message="새 비밀번호를 입력해 주세요"><br>
        </p>
        <p><strong>새 비밀번호 확인</strong></p>
        <input type="password" placeholder="새 비밀번호 확인" data-validation-required-message="새 비밀번호를 확인 주세요"><br>
        </p>
        <p><strong>이메일</strong></p>
        <p>
        <input type="email" placeholder="email@email.com" required data-validation-required-message="이메일 주소를 입력해 주세요">
        <button type="button" style="line-height: 16px; padding: 5px 17px;" class="btn btn-default">이메일 인증</button>
        </p>
        <p><strong>휴대폰번호</strong>
        <p><input type="text" placeholder="000-0000-0000" data-validation-required-message="휴대폰 번호를 입력해 주세요">
        <a href="#"><button type="button" style="line-height: 16px; padding: 5px 17px;" class="btn btn-default">휴대폰 인증</button></a>
        <br>
        <br>
        <a href="/home/index"><button type="button" style="line-height: 16px; padding: 5px 17px;" class="btn btn-info">수정완료</button></a>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>