<div class="b-flag is_dent">
  <div class="container">    
    <div  class="b-valign  b-valign--origin-left">
      <div  class="b-valign__inner">
      <!--[if IE 7]>
      <div class="b-valign__ie7_helper">
      <![endif]-->
        <h1  class="headline is_vaporable">마이 페이지</h1>
      <!--[if IE 7]>
      </div>
      <![endif]-->
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="container">
  <br>
    <h2>등록한 프로젝트</h2>
    <hr>
    
     <div class="col-sm-8"></div>
      <div class="col-sm-3">    
      <div class=container>
      <nav class="fix-nav">
     <ul><!--프로젝트 카드 보기 시작-->
    <div class="b-sidebar" role="complementary" >
  <!-- [if IE 7]-->
     <div class="b-sidebar__inner">
    <!--[endif]-->
      <div class="b-panel box" data-ui-component="profile-card">
    <div class="b-panel__head"></div>
  <div class="b-panel__body has-no-pad">
    <ul class="b-profile_card">
      <h5 class="b-profile_card__title"> 프로필 카드 미리보기 </h5>
      <h6></h6>
            <center><img src="http://www.publispain.com/snoopy/imagenes/snoopy.jpg" width="100px" height="100px"></center>
              <br>
              <div class="col-sm-9">
              <h6></h6>
              <h6>이름</h6>
              <h6>이메일@이메일.com</h6>
              <h6>전화번호</h6>
              </h6></h6>
              
              </div>
              
             <div class="col-sm-1"></div>
      
      </div> 
</div>
<div>
<a class="btn btn-default" href="/home/modify" role="button">수정하기</a></div>
    
      
    <div class="u-clear"></div>
    </ul><!-- b-profile_card --> 
  </div>
</div>
</div><!--프로젝트 카드 보기 끝-->
</nav></div></div>
      <div class="col-sm-1"></div>     
  </div>


    <!--[if IE 7]>
      </div>
    <![endif]-->
    </div><!--b-sidebar-->
</div>

<div class="container">
    <div class="row"id="projects-view"><!--프로젝트 목록1 시작-->
      <div class="b-project-card"> 
      <figure class="b-project-card__head">
        <a class="b-project-card__head__link" href="/">
          <div class="b-project-card__head__link__inner">
          <div class="b-project-card__head__filter"></div>
          <img src="https://attachment.namu.wiki/napoleon1.jpg" alt="" class="b-project-card__head__pic" height="164.5px" width="218px" />
          </div>
        </a>
      </figure>
  
        <div class="b-project-card__body"> 
            <h3 class="b-project-card__title">
              <a href="/imas_metroad" class="[ yoke yoke--theme_light ]">3일 동안 안깨고 잠자기</a>
            </h3>
            <p class="b-project-card__blurb">
              인생은 박주영 처럼, 잠자기는 나폴레옹처럼
            </p>
         </div> 
          <div class="b-project-card__figures">
                <div class="[ b-project-card__figure b-project-card__figure_for_amount ]">
                  <span class="b-project-card__figure-title">진행중!</span>  
                <span class="b-project-card__percentage">
                  40 %
                </span>
                </span>
                </div>
                <div class="[ b-project-card__figure b-project-card__figure_for_day ]">
                    <span class="b-project-card__figure-title">남은 기간</span>
                    <span class="b-project-card__figure-item">
                      29일
                    </span>
                </div>
          </div>
        </div><!--프로젝트 목록 1 끝-->
    
     <div class="row" id="projects-view"><!--프로젝트 목록2 시작-->
      <div class="b-project-card"> 
      <figure class="b-project-card__head">
        <a class="b-project-card__head__link" href="/">
          <div class="b-project-card__head__link__inner">
        <div class="b-project-card__head__filter"></div>
        <img src="https://attachment.namu.wiki/napoleon1.jpg" alt="" class="b-project-card__head__pic" height="164.5px" width="218px" />
          </div>
        </a>
      </figure>

        <div class="b-project-card__body"> 
            <h3 class="b-project-card__title">
              <a href="/imas_metroad" class="[ yoke yoke--theme_light ]">3일 동안 안깨고 잠자기</a>
            </h3>
            <p class="b-project-card__blurb">
              인생은 박주영 처럼, 잠자기는 나폴레옹처럼
            </p>
         </div> 
          <div class="b-project-card__figures">
                <div class="[ b-project-card__figure b-project-card__figure_for_amount ]">
                  <span class="b-project-card__figure-title">진행중!</span>  
                <span class="b-project-card__percentage">
                  40 %
                </span>
                </span>
                </div>
                <div class="[ b-project-card__figure b-project-card__figure_for_day ]">
                    <span class="b-project-card__figure-title">남은 기간</span>
                    <span class="b-project-card__figure-item">
                      29일
                    </span>
                </div>
          </div>
        </div><!--프로젝트 목록 2 끝-->

 <div class="row" id="projects-view"><!--프로젝트 목록 3 시작-->
      <div class="b-project-card"> 
      <figure class="b-project-card__head">
        <a class="b-project-card__head__link" href="/">
          <div class="b-project-card__head__link__inner">
        <div class="b-project-card__head__filter"></div>
        <img src="https://attachment.namu.wiki/napoleon1.jpg" alt="" class="b-project-card__head__pic" height="164.5px" width="218px" />
          </div>
        </a>
      </figure>

        <div class="b-project-card__body"> 
            <h3 class="b-project-card__title">
              <a href="/imas_metroad" class="[ yoke yoke--theme_light ]">3일 동안 안깨고 잠자기</a>
            </h3>
            <p class="b-project-card__blurb">
              인생은 박주영 처럼, 잠자기는 나폴레옹처럼
            </p>
         </div> 
          <div class="b-project-card__figures">
                <div class="[ b-project-card__figure b-project-card__figure_for_amount ]">
                  <span class="b-project-card__figure-title">진행중!</span>  
                <span class="b-project-card__percentage">
                  40 %
                </span>
                </span>
                </div>
                <div class="[ b-project-card__figure b-project-card__figure_for_day ]">
                    <span class="b-project-card__figure-title">남은 기간</span>
                    <span class="b-project-card__figure-item">
                      29일
                    </span>
                </div>
          </div>
        </div><!--프로젝트 목록 3 끝-->

</div>                

</div>     


<div class="col-sm-12">
  <div class="container">
  <br>
    <h2>후원 중인 프로젝트</h2>
    <hr>
    
    <div class="container">
    <div class="row"id="projects-view"><!--프로젝트 목록1 시작-->
      <div class="b-project-card"> 
      <figure class="b-project-card__head">
        <a class="b-project-card__head__link" href="/">
          <div class="b-project-card__head__link__inner">
          <div class="b-project-card__head__filter"></div>
          <img src="https://attachment.namu.wiki/napoleon1.jpg" alt="" class="b-project-card__head__pic" height="164.5px" width="218px" />
          </div>
        </a>
      </figure>
  
        <div class="b-project-card__body"> 
            <h3 class="b-project-card__title">
              <a href="/imas_metroad" class="[ yoke yoke--theme_light ]">3일 동안 안깨고 잠자기</a>
            </h3>
            <p class="b-project-card__blurb">
              인생은 박주영 처럼, 잠자기는 나폴레옹처럼
            </p>
         </div> 
          <div class="b-project-card__figures">
                <div class="[ b-project-card__figure b-project-card__figure_for_amount ]">
                  <span class="b-project-card__figure-title">진행중!</span>  
                <span class="b-project-card__percentage">
                  40 %
                </span>
                </span>
                </div>
                <div class="[ b-project-card__figure b-project-card__figure_for_day ]">
                    <span class="b-project-card__figure-title">남은 기간</span>
                    <span class="b-project-card__figure-item">
                      29일
                    </span>
                </div>
          </div>
        </div><!--프로젝트 목록 1 끝-->
    
     <div class="row" id="projects-view"><!--프로젝트 목록2 시작-->
      <div class="b-project-card"> 
      <figure class="b-project-card__head">
        <a class="b-project-card__head__link" href="/">
          <div class="b-project-card__head__link__inner">
        <div class="b-project-card__head__filter"></div>
        <img src="https://attachment.namu.wiki/napoleon1.jpg" alt="" class="b-project-card__head__pic" height="164.5px" width="218px" />
          </div>
        </a>
      </figure>

        <div class="b-project-card__body"> 
            <h3 class="b-project-card__title">
              <a href="/imas_metroad" class="[ yoke yoke--theme_light ]">3일 동안 안깨고 잠자기</a>
            </h3>
            <p class="b-project-card__blurb">
              인생은 박주영 처럼, 잠자기는 나폴레옹처럼
            </p>
         </div> 
          <div class="b-project-card__figures">
                <div class="[ b-project-card__figure b-project-card__figure_for_amount ]">
                  <span class="b-project-card__figure-title">진행중!</span>  
                <span class="b-project-card__percentage">
                  40 %
                </span>
                </span>
                </div>
                <div class="[ b-project-card__figure b-project-card__figure_for_day ]">
                    <span class="b-project-card__figure-title">남은 기간</span>
                    <span class="b-project-card__figure-item">
                      29일
                    </span>
                </div>
          </div>
        </div><!--프로젝트 목록 2 끝-->

 <div class="row" id="projects-view"><!--프로젝트 목록 3 시작-->
      <div class="b-project-card"> 
      <figure class="b-project-card__head">
        <a class="b-project-card__head__link" href="/">
          <div class="b-project-card__head__link__inner">
        <div class="b-project-card__head__filter"></div>
        <img src="https://attachment.namu.wiki/napoleon1.jpg" alt="" class="b-project-card__head__pic" height="164.5px" width="218px" />
          </div>
        </a>
      </figure>

        <div class="b-project-card__body"> 
            <h3 class="b-project-card__title">
              <a href="/imas_metroad" class="[ yoke yoke--theme_light ]">3일 동안 안깨고 잠자기</a>
            </h3>
            <p class="b-project-card__blurb">
              인생은 박주영 처럼, 잠자기는 나폴레옹처럼
            </p>
         </div> 
          <div class="b-project-card__figures">
                <div class="[ b-project-card__figure b-project-card__figure_for_amount ]">
                  <span class="b-project-card__figure-title">진행중!</span>  
                <span class="b-project-card__percentage">
                  40 %
                </span>
                </span>
                </div>
                <div class="[ b-project-card__figure b-project-card__figure_for_day ]">
                    <span class="b-project-card__figure-title">남은 기간</span>
                    <span class="b-project-card__figure-item">
                      29일
                    </span>
                </div>
          </div>
        </div><!--프로젝트 목록 3 끝-->

</div>                

</div>     